.header {
    display: flex;
     position: fixed;
     flex-direction: row;
     align-content: center;
     top: 0;
     overflow-y: hidden;
     height: 65px;
     width: 100%;
     background: linear-gradient(0deg, #151932  1.18%, rgb(55, 52, 92) 100%);
     box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.9);
     color: white;
 
   }
 
   .header--logo {
     height: 50px;
     padding-right: 30px;
   }
 
   .header--title {
     font-size: 1.25rem;
     margin-right: auto;
   }
 
   .header--project {
     font-size: 0.75rem;
     font-weight: 500;
   }

.link {
  color: white;
  text-decoration: none;
  margin: 10px;
}